
/*stylese of tags*/
html, body {
  background-color:silver;
}
h2 {
  font-size: 3.52em;
}

/*styles for navbar*/
.navbar-brand {
font-family: 'Paprika', cursive;
}

/*styles for apparel page*/
#suit {
  max-width: 150px;
}
.media-body {
overflow: auto;
}
.row {
padding: 15px 20px 65px 30px;
}
#icon {
  max-width: 30%;
  max-height: 30%;
}
/*styles for review page*/
 

/*styles for footer*/
footer {
  width: 100%;
  background-color: silver;
  padding: 5%;
  color: white;
  text-align: center;
}

/* styles for all tablets*/
@media only screen and (max-width: 900px) {

}

/* styles for phones*/
@media only screen and (max-width: 450px) {

}
