/*this is my css file*/

/*stylese of tags*/
html, body{
  background-color:silver;
}
.navbar-brand{
font-family: 'Paprika', cursive;
}
footer{
  width: 100%;
  background-color: silver;
  padding: 5%;
  color: white;
  text-align: center;
}
.fab{
  color: black;
}
.fab:hover{
  color:gold;
}
h2{
  font-size: 3.52em;

}
#suit{
  max-width: 160px;
}
.media-body{
overflow: auto;
}
.row {
padding: 15px 20px 65px 30px;
}
#icon{
  max-width: 30%;
  max-height: 30%;
}
