/*this is my css file*/

/*stylese of tags*/
html{
  background-color:silver;
}
body{
  background-color: silver;
}
/*
.carousel-item{
  height: 50%;
  width: 50%;
}

.carousel-inner{
  height: 100%;
  width: 100%;
}
*/
.navbar-brand{
font-family: 'Paprika', cursive;
}
footer{
  width: 100%;
  background-color: silver;
  padding: 5%;
  color: white;
}
.fab{
  color: black;
}
.fab:hover{
  color:gold;
}
h2{
  font-size: 3.52em;

}
#suit{
  max-width: 160px;
}
